
body {
  background-color: #ECF0F1;
}
.container {
  margin-top: 30px;
}

.title-bar {
}

.title-bar h3 {
  margin: 12px 0;
  padding-left: 15px;
}
.library-shell {
  height: 644px;
  border-radius: 5px;
  background-color: #34495e;
  color: #fff;
  font-size: 14px;
}
.library-shell h4 {
  padding: 10px;
  margin: 0 0 15px 0;
}
table th {
  border-width: 2px;
  color: #16a085;
  font-weight: bold;
}
table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}
table.library tr:nth-child(even) {
  background: #2C3E50;
}    

.library tbody tr:hover {
  background-color: #E74C3C;
  cursor: pointer; 
}

table.queue tr:nth-child(even) {
  background: #ccc;
}    
/* .queue:hover {
  background-color: #E74C3C;
  cursor: pointer; 
} */
.count {
  text-align: center;
}
.playlist-shell {
  height: 300px;
}

.album-shell {
  height: 300px;
}
.album-shell img {
  height: 280px;
}

audio {
  width: 100%;
}

.album-cover {
  height: 300px; 
  width: 300px;
  margin-left: 15px;
}

.fui-cross:hover {
  cursor: pointer;
  color: #E74C3C
}
.fui-volume {
  color: rgba(52, 73, 94, 0.5);
}
.playing {
  color: #2ECC71;
}
